body{
    background: rgb(194, 194, 194);
}

#navContainer {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(139, 245, 245);
}

footer {
    text-align-last: center;
    background: rgb(139, 245, 245);
    padding: 10px;;
}

header::after {
    content: ' ';
    clear: both;
    display: table;
    
}

h1 {
    float: left;
    margin: 0 20px 0 20px; 
    padding: 20px;
    color: rgb(34, 95, 90);
    
}

.title {
    font-weight: bolder;
    text-decoration: underline;
}

nav {
     float: right;
     scroll-behavior: auto;

}

nav ul{
     margin: 0;
     padding: 0;
     list-style: none;
}

nav li{
     display: inline-block;
     margin-left: 70px;
     padding-top: 30px;
    
}

nav a{
    color: rgb(34, 95, 90);
    text-decoration: none;
    text-transform: uppercase;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding:20px;

}

.titleOne{
    font-weight: bolder;
    text-decoration: underline;
    text-align-last: center;
    display: flex;

}

.pOne {
    text-align-last: center;
    display: flex;
}

.projectOne {
    padding: 10px;
    margin: 5px;
    background: rgb(139, 245, 245);
    border-style:ridge;
    border-radius: 2px;
    border-color:rgb(139, 245, 245);
    display: flex;
    flex-direction: row;
    
}

.projectTwo, .projectThree, .projectFour {
    padding: 10px;
    margin: 5px;
    background: rgb(139, 245, 245);
    border-style:ridge;
    border-radius: 2px;
    border-color:rgb(139, 245, 245);

}

article {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

h3 {
    width: 200px;
    border-style:solid;
    border-radius: 2px;
    color: rgb(34, 95, 90);
    font-size: 50px;
    font-weight: bolder ;
    text-align-last: center;
    margin:20px;
}

.aboutText {
    margin: 30px;
    background: rgb(139, 245, 245);
    border-style:ridge;
    border-radius: 2px;
    border-color:rgb(139, 245, 245);
}

p {
    padding: 10px;
}

h2 {
    width: 300px;
    border-style:solid;
    border-radius: 2px;
    color: rgb(34, 95, 90);
    font-size: 50px;
    font-weight: bolder ;
    text-align-last: center;
}

h4 {
    width: 300px;
    border-style:solid;
    border-radius: 2px;
    color: rgb(34, 95, 90);
    font-size: 50px;
    font-weight: bolder ;
    text-align-last: center;

}

#contact {
    margin: 0 20px 0 20px; 
    padding: 20px;
    color: rgb(34, 95, 90);
    font-weight: bolder;
    font-size: medium;
}

.contactContainer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.contactContainer li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
    text-align-last: center;
   
}

.contactContainer a{
    color: rgb(34, 95, 90);
    text-decoration: none;
    text-transform: uppercase;

}